asgiref
certifi
crispy-bootstrap5
distlib
Django
django-cors-headers
django-crispy-forms
django-environ
django-filter
djangorestframework
filelock
Markdown
MouseInfo
numpy
opencv-contrib-python
pillow
pipenv
platformdirs
PyAutoGUI
PyGetWindow
PyMsgBox
pyperclip
PyRect
PyScreeze
pytweening
pytz
setuptools
six
sqlparse
tzdata
virtualenv